body {
    font-family: "Inika", serif;
}

.header {
    position: relative;
    padding: 20px 15px;
    border-bottom: 1px solid #E0DFDE;
}

.header__inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1230px;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-size: 40px;
}

.header-nav__button {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.header-nav__button a,
.header-nav__button button {
    width: 100px;
    height: 34px;
    font-size: 20px;
    border: 1px solid #D9C6B5;
    background: #F0F0F099;
    color: #D9C6B5;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form__heading {
    margin-bottom: 0 auto;
    padding: 30px 15px 20px;
    font-size: 35px;
    text-align: center;
    color: #8B7969;
}