.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.confirm-table {
    border: 1px solid #E0DFDE;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.confirm-table__header {
    width: 30%;
    padding: 15px 30px;
    border-bottom: 1px solid #E0DFDE;
    background-color: #BAA899;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.confirm-table__text {
    padding: 15px 30px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input,
.confirm-table__text textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #8B7969;
}

.confirm-table__text textarea {
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    height: auto;
    min-height: 1em;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    width: 15%;
    height: 42px;
    padding: 10px;
    border: none;
    background: #82756A;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.form__button-back {
    margin-left: 20px;
    border: none;
    background: none;
    color: #82756A;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}